



<div class="text-layout">
    <h1>Decimal pipes y porcentaje</h1>
    <p>
        Pipes incluídos en Angular
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas netas"
                subheader="Del presente año">
                <i class ="pi pi-dollar"></i>
            {{ ventasNetas | number : '1.2-2' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas brutas"
                subheader="Del presente año">
            {{ ventasNetas + 2000000000 | currency: 'CAD': 'symbol-narrow': '1.4-4'}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancia porcentual"
                subheader="Del presente año">
            {{ porcentaje | percent: '2.2-2'  }}
        </p-card>
    </div>
</div>
